1. Write a Python function to multiply all the numbers in a list.

In [ ]:
def mulitiply(num_list, mul_num):
  for num in num_list:
    print(num*mul_num)

2. Write a Python function to reverse a string

  i) use for loop

  ii) use while loop

In [ ]:
def reverse_string_for_loop(input_string):
    reversed_string = ""
    for char in input_string:
        reversed_string = char + reversed_string
    return reversed_string

In [ ]:
def reverse_string_while_loop(input_string):
    reversed_string = ""
    length = len(input_string)
    i = length - 1
    while i >= 0:
        reversed_string += input_string[i]
        i -= 1
    return reversed_string

3. Write a function to add and subtract two variables

In [ ]:
def add_and_subtract(a, b):
    addition_result = a + b
    subtraction_result = a - b

    return addition_result, subtraction_result

4. Write a function to check the number is divisible by 12

In [ ]:
def is_divisible_by_12(number):
    if number % 12 == 0:
        return True
    else:
        return False

5. Write a function to calculate the number of days and weeks

In [ ]:
def calculate_weeks_and_days(total_days):
    weeks = total_days // 7
    remaining_days = total_days % 7

    return weeks, remaining_days

6.Write a Python function to Find the 5!?

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

# Calculate 5!
result = factorial(5)
print("5! =", result)

7. Write a Python function to find the unique elements of the list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]

In [ ]:
def find_unique(num_list):
  unique_elements = list(set(input_list))
  return unique_elements

Types of arguments

   1. Required arguments
   2. Keyword arguments
   3. Default arguments

1. Required arguments:
Write a program to calculate Simple Interest which accepts three arguments and returns the simple interest accordingly

In [ ]:
def calculate_simple_interest(principal, rate, time):
    simple_interest = (principal * rate * time) / 100
    return simple_interest


principal_amount = float(input("Enter the principal amount: "))
rate_of_interest = float(input("Enter the rate of interest (in percentage): "))
time_period = float(input("Enter the time period (in years): "))


interest = calculate_simple_interest(principal_amount, rate_of_interest, time_period)

print(f"Simple Interest: {interest}")

2. Keyword arguments:
Write a function which will be called with the name and message as the keyword arguments. Output will be "printing the message with 'name' and  'message'"

In [ ]:
def print_message(name, message):
    output = f"Printing the message with '{name}' and '{message}'"
    print(output)

print_message(name="John", message="Hello, World!")

3. Default Arguments:
Write a function which will be called with the name as keyword argument and age as the default arguments. Output will be "My name is 'name' and 'age is 27'"

In [ ]:
def introduce(name, age=27):
    output = f"My name is '{name}' and age is {age}"
    print(output)


introduce(name="John")
introduce(name="Alice", age=30)

## lambda function

1. Get a number from user,  find if it is even or odd number?

In [ ]:
number = int(input("Enter a number: "))
is_even = lambda x: x % 2 == 0

if is_even(number):
    print(f"{number} is an even number.")
else:
    print(f"{number} is an odd number.")

2. Take a input from user and  square it

In [2]:
number = int(input("Enter a number: "))
square = lambda x: x**2

print(square(2))

Enter a number: 2
4

3. Write a lambda function using logical operators?
Hint:
Check x < 10
Output: False / True

In [ ]:
is_less_than_10 = lambda x: x < 10
result = is_less_than_10(5)
print(result)

4. Take an integer input from the user,  add 5 to the number and print it back?

In [ ]:
user_input = int(input("Enter an integer: "))
add_5 = lambda x: x + 5
result = add_5(user_input)
print(f"The result after adding 5 to {user_input} is: {result}")

## Map

1. Add two lists using map ()

    lis1 = [12, 24, 36]
    
    lis2 = [41, 54, 69]
   
    Output:
    [53, 78, 105]

In [3]:
lis1 = [12, 24, 36]
lis2 = [41, 54, 69]

result = list(map(lambda x, y: x + y, lis1, lis2))
print(result)

[53, 78, 105]

2. Use Lambda and map functions on a List, to square each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7]

squared_list = list(map(lambda x: x ** 2, my_list))

print(squared_list)

3.In the given list [1, 2, 3, 4, 5, 6, 7], find the even and odd elements in the list, use the map()function

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7]

even_odd_list = list(map(lambda x: 'Even' if x % 2 == 0 else 'Odd', my_list))

print(even_odd_list)

4. In the given list [11, 12, 13, 14, 435, 6, 27], perform the Floor division using 7 on each elements on the list

In [ ]:
my_list = [11, 12, 13, 14, 435, 6, 27]
result_list = list(map(lambda x: x // 7, my_list))
print(result_list)

## Filter

1.Using the given list lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543] filter the numbers in list which are not divisible by 2

In [4]:
lis1 = [3, 12, 24, 36, 43, 654, 65432, 2, 654, 455, 43, 543]

filtered_list = list(filter(lambda x: x % 2 != 0, lis1))

print(filtered_list)

[3, 43, 455, 43, 543]

2.For a given list1 = [1, 2, 3, 4, 5, 6] filter only the even numbers (Use filter).

In [5]:
list1 = [1, 2, 3, 4, 5, 6]
filtered_list = list(filter(lambda x: x % 2 == 0, list1))
print(filtered_list)

[2, 4, 6]

3. For a given list = [2,3,5,3,6,3,7,4,6,7] filter only the even numbers using user defined function.

In [ ]:
def is_even(x):
    return x % 2 == 0

my_list = [2, 3, 5, 3, 6, 3, 7, 4, 6, 7]
even_numbers_list = list(filter(is_even, my_list))

print(even_numbers_list)

4. For a given list = [1, 12, 31, 4, 15, 6, 7] filter only the odd numbers using user defined function.

In [7]:
def is_odd(x):
    return x % 2 == 1

my_list = [2, 3, 5, 3, 6, 3, 7, 4, 6, 7]
odd_numbers_list = list(filter(is_odd, my_list))

print(odd_numbers_list)

[3, 5, 3, 3, 7, 7]

## Reduce

1.For list = [1, 2, 3, 4] multiply all the elements (use reduce function)

In [8]:
from functools import reduce

my_list = [1, 2, 3, 4]

def multiply(x, y):
    return x * y

result = reduce(multiply, my_list)

print(result)

24

2. For list = [ 11 , 13, 15, 16, 2,43 ]  sum all the elements (use reduce function)

In [9]:
my_list =  [ 11 , 13, 15, 16, 2,43 ]

def sum(x, y):
  return x + y

result = reduce(sum, my_list)
print(result)

100

3. Find the maximum value in the list = [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function)

In [10]:
from functools import reduce

my_list = [543, 7, 6, 4567, 7, 78, 6, 6, 78, 765, 678]

def find_max(x, y):
    return x if x > y else y

max_value = reduce(find_max, my_list)
print(max_value)

4567

4. Find the minimum value in the list= [543,7,6,4567,7,78,6,6,78,765,678] (use reduce function

In [11]:
from functools import reduce

my_list = [543, 7, 6, 4567, 7, 78, 6, 6, 78, 765, 678]

def find_min(x, y):
    return x if x < y else y

min_value = reduce(find_min, my_list)
print(min_value)

6